In [4]:
import zipfile
import os

# Path to your ZIP file
zip_path = r"C:\Users\manda_1oht4b9\Downloads\archive (1).zip"
extract_path = r"C:\Indhu\energy"  # Folder where files will be extracted

# Create folder if it doesn't exist
os.makedirs(extract_path, exist_ok=True)

# Extract all contents
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

print("✅ Extraction complete! Files extracted to:", extract_path)

✅ Extraction complete! Files extracted to: C:\Indhu\energy

In [5]:
import os

files = os.listdir(extract_path)
print(files)

['AEP_hourly.csv', 'COMED_hourly.csv', 'DAYTON_hourly.csv', 'DEOK_hourly.csv', 'DOM_hourly.csv', 'DUQ_hourly.csv', 'EKPC_hourly.csv', 'est_hourly.paruqet', 'FE_hourly.csv', 'NI_hourly.csv', 'PJME_hourly.csv', 'PJMW_hourly.csv', 'pjm_hourly_est.csv', 'PJM_Load_hourly.csv', 'week1.ipynb']

In [ ]:
import pandas as pd

file_path = os.path.join(extract_path, "data.xls")  # Replace with your actual filename

df = pd.read_excel(file_path)

print(df.info())     # View structure
print(df.head())     # View first few rows

In [6]:
import os

folder_path = r"C:\Indhu\energy"  # your dataset folder

files = os.listdir(folder_path)
print("Files in the folder:")
for f in files:
    print(f)

Files in the folder:
AEP_hourly.csv
COMED_hourly.csv
DAYTON_hourly.csv
DEOK_hourly.csv
DOM_hourly.csv
DUQ_hourly.csv
EKPC_hourly.csv
est_hourly.paruqet
FE_hourly.csv
NI_hourly.csv
PJME_hourly.csv
PJMW_hourly.csv
pjm_hourly_est.csv
PJM_Load_hourly.csv
week1.ipynb

In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
folder_path = r"C:\Indhu\energy"

dataframes = []
for file in os.listdir(folder_path):
    if file.endswith('.csv'):
        file_path = os.path.join(folder_path, file)
        df = pd.read_csv(file_path)
        print(f"\nLoaded: {file}, Rows: {df.shape[0]}, Columns: {df.shape[1]}")
        dataframes.append(df)

# Combine all CSVs into one DataFrame (if they have same structure)
combined_df = pd.concat(dataframes, ignore_index=True)
print("\n✅ Combined data shape:", combined_df.shape)

Loaded: AEP_hourly.csv, Rows: 121273, Columns: 2

Loaded: COMED_hourly.csv, Rows: 66497, Columns: 2

Loaded: DAYTON_hourly.csv, Rows: 121275, Columns: 2

Loaded: DEOK_hourly.csv, Rows: 57739, Columns: 2

Loaded: DOM_hourly.csv, Rows: 116189, Columns: 2

Loaded: DUQ_hourly.csv, Rows: 119068, Columns: 2

Loaded: EKPC_hourly.csv, Rows: 45334, Columns: 2

Loaded: FE_hourly.csv, Rows: 62874, Columns: 2

Loaded: NI_hourly.csv, Rows: 58450, Columns: 2

Loaded: PJME_hourly.csv, Rows: 145366, Columns: 2

Loaded: PJMW_hourly.csv, Rows: 143206, Columns: 2

Loaded: pjm_hourly_est.csv, Rows: 178262, Columns: 13

Loaded: PJM_Load_hourly.csv, Rows: 32896, Columns: 2

✅ Combined data shape: (1268429, 25)

In [4]:
combined_df.info()
combined_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268429 entries, 0 to 1268428
Data columns (total 25 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Datetime     1268429 non-null  object
 1   AEP_MW       121273 non-null   float64
 2   COMED_MW     66497 non-null    float64
 3   DAYTON_MW    121275 non-null   float64
 4   DEOK_MW      57739 non-null    float64
 5   DOM_MW       116189 non-null   float64
 6   DUQ_MW       119068 non-null   float64
 7   EKPC_MW      45334 non-null    float64
 8   FE_MW        62874 non-null    float64
 9   NI_MW        58450 non-null    float64
 10  PJME_MW      145366 non-null   float64
 11  PJMW_MW      143206 non-null   float64
 12  AEP          121273 non-null   float64
 13  COMED        66497 non-null    float64
 14  DAYTON       121275 non-null   float64
 15  DEOK         57739 non-null    float64
 16  DOM          116189 non-null   float64
 17  DUQ          119068 non-null   float64
 18  EKPC         45334 non-null    float64
 19  FE           62874 non-null    float64
 20  NI           58450 non-null    float64
 21  PJME         145366 non-null   float64
 22  PJMW         143206 non-null   float64
 23  PJM_Load     32896 non-null    float64
 24  PJM_Load_MW  32896 non-null    float64
dtypes: float64(24), object(1)
memory usage: 241.9+ MB

,Datetime,AEP_MW,COMED_MW,DAYTON_MW,DEOK_MW,DOM_MW,DUQ_MW,EKPC_MW,FE_MW,NI_MW,...,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load,PJM_Load_MW
0,2004-12-31 01:00:00,13478.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004-12-31 02:00:00,12865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-12-31 03:00:00,12577.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004-12-31 04:00:00,12517.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004-12-31 05:00:00,12670.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
combined_df.drop_duplicates(inplace=True)

In [6]:
combined_df = combined_df.loc[:, ~combined_df.columns.str.contains('^Unnamed')]

In [7]:
# See how many missing values each column has
print(combined_df.isnull().sum())

# Fill missing numeric values with mean
combined_df = combined_df.fillna(combined_df.mean(numeric_only=True))

# OR drop rows with too many missing values
# combined_df = combined_df.dropna()

Datetime             0
AEP_MW         1147156
COMED_MW       1201932
DAYTON_MW      1147154
DEOK_MW        1210690
DOM_MW         1152240
DUQ_MW         1149361
EKPC_MW        1223095
FE_MW          1205555
NI_MW          1209979
PJME_MW        1123063
PJMW_MW        1125223
AEP            1147156
COMED          1201932
DAYTON         1147154
DEOK           1210690
DOM            1152240
DUQ            1149361
EKPC           1223095
FE             1205555
NI             1209979
PJME           1123063
PJMW           1125223
PJM_Load       1235533
PJM_Load_MW    1235533
dtype: int64

In [8]:
# Example: if you have a date column
# combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')

# Example: convert numeric columns stored as text
# combined_df['Energy_Consumption'] = pd.to_numeric(combined_df['Energy_Consumption'], errors='coerce')

In [9]:
combined_df.info()
combined_df.describe()
combined_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268429 entries, 0 to 1268428
Data columns (total 25 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Datetime     1268429 non-null  object
 1   AEP_MW       1268429 non-null  float64
 2   COMED_MW     1268429 non-null  float64
 3   DAYTON_MW    1268429 non-null  float64
 4   DEOK_MW      1268429 non-null  float64
 5   DOM_MW       1268429 non-null  float64
 6   DUQ_MW       1268429 non-null  float64
 7   EKPC_MW      1268429 non-null  float64
 8   FE_MW        1268429 non-null  float64
 9   NI_MW        1268429 non-null  float64
 10  PJME_MW      1268429 non-null  float64
 11  PJMW_MW      1268429 non-null  float64
 12  AEP          1268429 non-null  float64
 13  COMED        1268429 non-null  float64
 14  DAYTON       1268429 non-null  float64
 15  DEOK         1268429 non-null  float64
 16  DOM          1268429 non-null  float64
 17  DUQ          1268429 non-null  float64
 18  EKPC         1268429 non-null  float64
 19  FE           1268429 non-null  float64
 20  NI           1268429 non-null  float64
 21  PJME         1268429 non-null  float64
 22  PJMW         1268429 non-null  float64
 23  PJM_Load     1268429 non-null  float64
 24  PJM_Load_MW  1268429 non-null  float64
dtypes: float64(24), object(1)
memory usage: 241.9+ MB

,Datetime,AEP_MW,COMED_MW,DAYTON_MW,DEOK_MW,DOM_MW,DUQ_MW,EKPC_MW,FE_MW,NI_MW,...,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load,PJM_Load_MW
0,2004-12-31 01:00:00,13478.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
1,2004-12-31 02:00:00,12865.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
2,2004-12-31 03:00:00,12577.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
3,2004-12-31 04:00:00,12517.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
4,2004-12-31 05:00:00,12670.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408

In [10]:
cleaned_path = r"C:\Indhu\energy\cleaned_energy_data.csv"
combined_df.to_csv(cleaned_path, index=False)
print(f"\n✅ Cleaned data saved to: {cleaned_path}")

✅ Cleaned data saved to: C:\Indhu\energy\cleaned_energy_data.csv

In [11]:
import pandas as pd

cleaned_df = pd.read_csv(r"C:\Indhu\energy\cleaned_energy_data.csv")
print(cleaned_df.shape)
cleaned_df.head()

(1268429, 25)

,Datetime,AEP_MW,COMED_MW,DAYTON_MW,DEOK_MW,DOM_MW,DUQ_MW,EKPC_MW,FE_MW,NI_MW,...,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load,PJM_Load_MW
0,2004-12-31 01:00:00,13478.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
1,2004-12-31 02:00:00,12865.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
2,2004-12-31 03:00:00,12577.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
3,2004-12-31 04:00:00,12517.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
4,2004-12-31 05:00:00,12670.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408

In [12]:
cleaned_df.describe()
cleaned_df.corr(numeric_only=True)
cleaned_df.isnull().sum()

Datetime       0
AEP_MW         0
COMED_MW       0
DAYTON_MW      0
DEOK_MW        0
DOM_MW         0
DUQ_MW         0
EKPC_MW        0
FE_MW          0
NI_MW          0
PJME_MW        0
PJMW_MW        0
AEP            0
COMED          0
DAYTON         0
DEOK           0
DOM            0
DUQ            0
EKPC           0
FE             0
NI             0
PJME           0
PJMW           0
PJM_Load       0
PJM_Load_MW    0
dtype: int64