In [4]:
import pandas as pd

file_path = r"C:\Indhu\energy\cleaned_energy_data.csv"
df = pd.read_csv(file_path)

print(df.columns)
df.head()

Index(['Datetime', 'AEP_MW', 'COMED_MW', 'DAYTON_MW', 'DEOK_MW', 'DOM_MW',
       'DUQ_MW', 'EKPC_MW', 'FE_MW', 'NI_MW', 'PJME_MW', 'PJMW_MW', 'AEP',
       'COMED', 'DAYTON', 'DEOK', 'DOM', 'DUQ', 'EKPC', 'FE', 'NI', 'PJME',
       'PJMW', 'PJM_Load', 'PJM_Load_MW'],
      dtype='object')

,Datetime,AEP_MW,COMED_MW,DAYTON_MW,DEOK_MW,DOM_MW,DUQ_MW,EKPC_MW,FE_MW,NI_MW,...,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load,PJM_Load_MW
0,2004-12-31 01:00:00,13478.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
1,2004-12-31 02:00:00,12865.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
2,2004-12-31 03:00:00,12577.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
3,2004-12-31 04:00:00,12517.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
4,2004-12-31 05:00:00,12670.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Load dataset
file = r"C:\Indhu\energy\cleaned_energy_data.csv"
df = pd.read_csv(file, parse_dates=['Datetime'])
df.set_index('Datetime', inplace=True)

df.head()

,AEP_MW,COMED_MW,DAYTON_MW,DEOK_MW,DOM_MW,DUQ_MW,EKPC_MW,FE_MW,NI_MW,PJME_MW,...,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load,PJM_Load_MW
Datetime,,,,,,,,,,,,,,,,,,,,,
2004-12-31 01:00:00,13478.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
2004-12-31 02:00:00,12865.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
2004-12-31 03:00:00,12577.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
2004-12-31 04:00:00,12517.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408
2004-12-31 05:00:00,12670.0,11420.152112,2037.85114,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,...,3105.096486,10949.203625,1658.820296,1464.218423,7792.159064,11701.682943,32080.222831,5602.375089,29766.427408,29766.427408

In [6]:
df['hour'] = df.index.hour
df['dayofweek'] = df.index.dayofweek
df['month'] = df.index.month
df['year'] = df.index.year

In [7]:
X = df[['hour', 'dayofweek', 'month', 'year']]

y = df[
    [
        'AEP_MW', 'COMED_MW', 'DAYTON_MW', 'DEOK_MW', 'DOM_MW',
        'DUQ_MW', 'EKPC_MW', 'FE_MW', 'NI_MW', 'PJME_MW', 
        'PJMW_MW', 'PJM_Load', 'PJM_Load_MW'
    ]
]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, shuffle=False
)

In [11]:
def metrics(y_true, y_hat):
    mae = mean_absolute_error(y_true, y_hat)
    mse = mean_squared_error(y_true, y_hat)   # old versions ONLY support mse
    rmse = np.sqrt(mse)                       # manual RMSE
    r2 = r2_score(y_true, y_hat)
    return mae, rmse, r2

In [12]:
results = []
for col in target_cols:
    mae, rmse, r2 = metrics(y_test[col], y_pred_df[col])
    results.append((col, mae, rmse, r2))

res_df = pd.DataFrame(results, columns=['Target','MAE','RMSE','R2']).sort_values('RMSE')
print(res_df)

         Target           MAE          RMSE         R2
8         NI_MW  1.091394e-11  1.091394e-11 -35.000000
11  PJM_Load_MW  2.921812e-11  2.922501e-11   0.000000
6       EKPC_MW  5.193686e+01  9.562770e+01   0.043858
5        DUQ_MW  5.344085e+01  1.076140e+02   0.032266
2     DAYTON_MW  6.252483e+01  1.202759e+02   0.047882
3       DEOK_MW  1.088674e+02  2.094584e+02   0.031072
10      PJMW_MW  1.579108e+02  3.010496e+02   0.050339
7         FE_MW  2.440737e+02  4.968712e+02   0.040115
0        AEP_MW  3.904788e+02  7.367610e+02   0.056703
4        DOM_MW  4.139916e+02  8.171844e+02   0.041307
1      COMED_MW  4.330535e+02  8.362167e+02   0.031737
9       PJME_MW  1.174620e+03  2.334755e+03   0.040432